body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #081e49;
    color: white;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.titulo {
    font-size: 0.9rem;
    display: block;
    text-align: left;
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.menu .lista-menu {
    display: flex;
    list-style: none;
    gap: 10px;
    padding-bottom: 20px;
}

.menu .lista-menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 40px;
    transition: 2ms ease-in;
    position: relative;
}

.menu .lista-menu a::before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: wheat;
    transition: all 1s ease;
}

.menu .lista-menu a:hover::before {
    width: 100%;
    background-color: rgb(247, 247, 3);
}

main {
    height: 73.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(16, 16, 16, 0.7), rgb(25, 25, 25, 0.7)), url(imagens/Fundo.png);
}

.subtitulo {
    margin-top: 1px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

.main-content h1 {
    font-size: 2rem;
}

.container {
    display: flex;
}

.cards {
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0 80px;
    width: 350px;
    border-radius: 10px;
    height: 40vh;
}

img {
    width: 320px;
    margin: 15px 15px 0 15px;
    border-radius: 10px;
}

div a {
    text-decoration: none;
    color: rgb(255, 42, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container h2 {
    text-align: center;
    margin: 15px;
}

.container p {
    text-align: center;
    margin: 15px;
}

footer {
    background-color: black;
    color: rgb(255, 228, 228);
    padding: 2px;
    font-size: 1.6rem;
}

.direitos {
    width: 100%;
    font-size: small;
    text-align: center;
}


@media (max-width: 426px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    header {
        text-align: center;
        background-color: #081e49;
        color: white;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }

    .titulo {
        font-size: 0.9rem;
        display: block;
        text-align: left;
        margin: 20px;
    }

    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #081e49;
        color: white;
        width: 100%;
        height: 100%;
        padding-top: 2px;
        display: flex;
        justify-content: space-between;
    }

    header .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
    }

    header .titulo p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
    }

    .lista-menu {
        display: flex;
        margin: auto;
        font-size: 0.8rem;
    }

    main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgb(16, 16, 16, 0.7), rgb(25, 25, 25, 0.7)), url(imagens/Fundo.png);
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
    }

    .main-content h1 {
        font-size: 250%;
    }

    .mtitulo {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 2%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .cards {
        margin-bottom: 15%;
        padding-bottom: 50px;
        margin: 25px auto;
        /* Isso centraliza os elementos e evita margens laterais que possam causar overflow */
        width: 100%;
        /* Ajuste para que eles ocupem 100% da largura disponível */
        max-width: 350px;
        /* Mantém um tamanho máximo apropriado */
    }
}