body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #081e49;
    color: white;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: ;

}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;

}

main {
    height: 73.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(16, 16, 16, 0.7), rgb(25, 25, 25, 0.7)), url(imagens/Fundo.png);

}

.subtitulo {
    margin-top: 1px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
}

.Filmes {
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0 80px;
    width: 350px;
    border-radius: 10px;
    height: 40vh;
}

.Música {
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0 80px;
    width: 350px;
    border-radius: 10px;
    height: 40vh;
}

.Séries {
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0 80px;
    width: 350px;
    border-radius: 10px;
    height: 40vh;
}

img {
    width: 320px;
    margin: 15px 15px 0 15px;
    border-radius: 10px;
}

div a {
    text-decoration: none;
    color: rgb(255, 42, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container h2 {
    text-align: center;
    margin: 15px;
}

.container p {
    text-align: center;
    margin: 15px;
}

footer {
    background-color: black;
    color: rgb(255, 228, 228);
    padding: 2px;
    font-size: 1.6rem;
}

.direitos {
    width: 100%;
    font-size: small;
    text-align: center;
}