body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #081e49;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.titulo {
    font-size: 0.9rem;
    display: block;
    text-align: left;
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    
}

.menu .lista-menu {
    display: flex;
    list-style: none;
    gap: 10px;
    padding-bottom: 20px;
}

.menu .lista-menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 40px;
    transition: 2ms ease-in;
    position: relative;
}

.menu .lista-menu a::before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: wheat;
    transition: all 1s ease;
}

.menu .lista-menu a:hover::before {
    width: 100%;
    background-color: rgb(247, 247, 3);
}

main{
    background: linear-gradient(rgb(16, 16, 16, 0.7), rgb(25, 25, 25, 0.7)), url(imagens/Fundo.png);

}

main h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 25px;
}

img {
    width: 320px;
    height: 480px;
    margin: 15px 15px 0 15px;
    border-radius: 10px;
}

div a {
    text-decoration: none;
    color: rgb(255, 42, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.cardlinhas {
    display: flex;
    flex-basis: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 10px;
}

.card h1 {
    font-size: 20px;
    align-content: center;
}

.card h2 {
    font-size: 20px;
    color: rgb(255, 42, 0);
    align-content: center;

}

.cardlinhas{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.card b {
    display: flex;
    flex-basis: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.card {
    padding-right: 50px;
}

button {
    background-color: #081e49;
    height: 30px;
    border: none;
    padding: 4px;
    color: white;
    width: 80%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: rgb(255, 228, 228);
    padding: 2px;
    font-size: 1.6rem;
}

.direitos {
    width: 100%;
    font-size: small;
    text-align: center;
}

@media (max-width: 780px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #081e49;
        color: white;
        width: 100%;
        height: 100%;
        padding-top: 2px;
        display: flex;
        justify-content: space-between;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
    }

    .lista-menu {
        font-size: 0.5rem;
        display: flex;
        width: 100%;
        margin: 0 5%;
    }

    main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgb(16, 16, 16, 0.7), rgb(25, 25, 25, 0.7)), url(imagens/Fundo.png);
    }

    .card {
        display: inline-block;
        margin: 20px auto;
        width: 100%;
        max-width: 350px;
        justify-content: center;
        margin-right: %;
    }

    .cardlinhas{
        display: block;
    }

    a img {
        width: 70%;
        height: 50%;
    }

    .texto h2{
        font-size: 1rem;
        width: 100%;
        height: 100%;
        padding: 5%;
    }

    .texto h3{
        font-size: 1rem;
        width: 100%;
        height: 100%;
        padding: 5%;
    }

}